@model CoreAuthentication.ViewModel.StateVM

@{
    ViewData["Title"] = "State";
}

<h2>State</h2>

<h4>StateVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="State">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="selectedCountryId" class="control-label"></label>
                <select asp-for="selectedCountryId" asp-items="Model.countriesSLI"  class="form-control" onchange= "this.form.submit();"></select>
                <span asp-validation-for="selectedCountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="selectedStateId" class="control-label"></label>
                <select asp-for="selectedStateId"  asp-items="Model.stateSLI"  class="form-control" onchange= "this.form.submit();" ></select>
                <span asp-validation-for="selectedStateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
